<div class="container">
    <div class="row justify-content-md-center">
       <div class="col-sm-7  offset-sm-5">
          <div *ngIf="!loadingdata">
            <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
          </div>
       </div> 
        <ng-container *ngIf="loadingdata">
          <div class="col" >
            <div class="panel panel-primary">
           
              <div class="panel-body">
                <div *ngIf="cartProduct?.length > 0">
                  <div class="container">
                   <div class="row justify-content-md-center">
                        <div class="col-md-7 d-flex justify-content-around align-items-center flex-wrap"  >
                          <div class="col-12  mt-5 d-flex" *ngFor="let productitem of cartProduct">
                              <img [src]="productitem.products?.image"  class="product-img mt-3"  alt="product image">
                              <div class="card-body align-items-center">
                                <h5 class="card-title"> {{productitem.products?.title}}</h5>     
                                <p class="card-text"> <span class="txt-b"> Price:</span> ${{productitem.products?.price}}</p>
                              <input type="number" [value]="productitem.amount" disabled/>
                              </div>
                          
                          </div>
                          <h3 class="col-12 mt-1 d-flex" style="font-weight:bold">total:${{totalPrice}}</h3>
                        </div>
                        <div class="col-md-5 d-flex justify-content-around align-items-center flex-wrap" >
                          <form class="g-3" [formGroup] ="productForm" (ngSubmit) = "onSubmit()">
                              <div class="mb-3">
                                  <label class="form-label">Full Name</label>
                                  <input type="text" formControlName="fullName" class="form-control">
                                  <span *ngIf="productForm.controls['fullName'].errors?.required && productForm.controls['fullName'].touched" class="error"> This field required </span>
              
                              </div>
                              <div class="mb-3">
                                  <label class="form-label">Address</label>
                                  <input type="text" formControlName="address" class="form-control" >
                                  <span *ngIf="productForm.controls['address'].errors?.required && productForm.controls['address'].touched" class="error"> This field required </span>
              
                              </div>                
                              <div class="mb-3">
                                  <label class="form-label">Credit card number</label>
                                  <input type="text"  formControlName="creditNumber" class="form-control" >
                                  <span *ngIf="productForm.controls['creditNumber'].errors?.required && productForm.controls['creditNumber'].touched" class="error"> This field required </span>
              
                              </div>
                              <div class="mb-3">
                                <label class="form-label">We will never share your payment details with anyone else</label>
                               
                            </div>
                              <div class="mb-3 ">
                                  <button type="submit" class="btn btn-primary mb-3" style="position: relative;width:30%" [disabled]= "!productForm.valid || postdata">Submit
              
                                      <div class="loadingio-spinner-spin-tg278z7z83"  [ngClass]="postdata? 'block' : 'none'" >
                                        <div class="ldio-tw3lft2h3a">
                                        <div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div>
                                        </div>
                                      </div>
                                    </button>
                              </div>
                          </form>
                        </div>
                  </div>
                </div>
                </div>
             
              </div>
            </div>
          </div>
        </ng-container>
    </div>
 </div>
